/*Tarea generica, sin completar*/

.contenedor-tarea {
  width: 80%;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid #fff;
  cursor: pointer;
}

.texto-tarea {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere; /*Con esto ahce que si el texto no entra, se va abajo*/
}

.icono-tarea {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/*Tarea Completada*/

.contenedor-tarea.completada {
  background-color: #5a01a7;
  text-decoration: line-through;
}